
$color_basic_1:blue;
$color_basic_2:red;
$color_blue_opacity:#0b0bffab;
$color_black:#4a4a4a;
$color_white:white;
$color_grey-1:#e7e7e7;
$color_grey-2:#b6b6b6;
$color_grey-3:#858585;
$color_grey-4:#878787;
$color_black:black;