@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');






//old
$title_big_size:50px;
$title_medium_size:30px;
$title_small_size:20px;
$title_big_size_mobile:40px;
$title_medium_size_mobile:20px;
$title_small_size_mobile:10px;
$text_big_size:40px;
$text_medium_size:30px;
$text_small_size:20px;
$text_big_size_mobile:30px;
$text_medium_size_mobile:22px;
$text_small_size_mobile:13px;



//new
$Size_Title:32px;
$Size_Title_Mobile:24px;
$Size_text:17px;
$Size_text_Mobile:12px;
$Size_text_Small:12px;
$Size_Number:15px;
$Size_Text_button:20px;