
@import "Sass/color";
@import "Sass/size";

.content_header_info_user {
  svg {
    color: $Color_Basic_3;
    font-size: 25px;
    transition: .3s ease-in-out;
    &:hover {
      color: $Color_Basic_8;
      @media (max-width: 575px) {
        font-size: $text_small_size_mobile;
      }
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  .data_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;

    .name {
      font-size: $Size_Title;
      font-family: "Roboto", sans-serif;
      color: $Color_Title_2;
      @media (max-width: 575px) {
        font-size: $Size_Title_Mobile;
      }
    }

    .link_testament {
      display: flex;
      gap: 10px;
      font-size: $text_small_size;
      font-family: "Roboto", sans-serif;
      align-items: center;

      a {
        color: $Color_Title_2;
        font-size: $Size_text;
        text-align: center;
      }

      @media (max-width: 575px) {
        flex-direction: column;
      }
    }

    .share_profile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;


    }


    svg {


    }

    .warning_testament {

      color: $Color_Basic_8;
      font-size: $Size_text;
    }
  }

}