
@import "styles/Sass/color";

.content_page_vote{

  .see_testament{
    text-align: center;
    padding: 20px;

    button{
      width: 50%;
      padding: 20px;
      font-size: 30px;
    }
  }
  &:after{
    content: "";
    width: 20%;
    height: 150%;
    background: $color_basic_1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}