



.style{
  background: #1976d2;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  color: white;
  border: navajowhite;
  border-radius: 6px;
  cursor: pointer;
&:hover{
  background: #1565c0;
}
}