@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
  /*padding: 0;*/
  margin: 0;
  font-family: "Roboto", sans-serif;
  transition: .3s ease-in-out;
 /*overflow: inherit;*/
  padding-right: 0 !important;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #22262F;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
::-webkit-scrollbar-thumb:hover {
  background: #21A092;
}




