@import "styles/Sass/color";

@import "styles/Sass/size";

.section_interaction{

  margin-top: 20px;
  td,th{
  color: white;
}
  .no_interaction{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    @media (max-width:575px) {
      font-size: 10px;
    }
  }
}