


.content_model_testament{
  background: red!important;
  color: white!important;
  .bg{
    background: red;
    color: white;
  }
  .css-tlc64q-MuiPaper-root-MuiDialog-paper{
    background: red;
    color: white;
  }
  .option_votes_users{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .option_special_friends{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}




