


.content_model_testament{
background: red;
  .optionModeTestament{

  }
  .selectModeTestament{

  }

}
.option_votes_users{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.option_special_friends{
  display: flex;
  flex-direction: column;
  gap: 30px;
}